@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;

  font-weight: normal;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}